.otp-osahan-body {
  background-image: url('https://images.unsplash.com/photo-1594402918538-96636fcb6d8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: transparent !important;
}
.otp-div-container {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-div {
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.otp-title {
  margin: 3rem 0;
}
.form-group > div > input {
  margin: 0 0.5rem !important;
  padding: 0.5rem !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  color: rgb(58, 58, 58) !important;
  border-color: rgb(158, 47, 47) !important;
}
/*.form-group > div > input:focus,
.form-group > div > input:valid {
  border-color: brown !important;
  color: brown !important;
}
*/
